.background {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    background-image: url("/images/assets/background.png");
    background-size: cover;
    background-position: center;
    position: relative;
    width: 331px;
}